{% extends 'bootstrap/base.html' %}
{% block title %}
   Aidan's Music Database
{% endblock %}
{% block navbar %}
     <a href="/base">Home</a>
        <a href="/Artists">List of Artists</a>
        {% if current_user.is_anonymous %}
            <a href="/login">Login</a>
        {% else %}
            <a href="/newArtist">Create a New Artists</a>
            <a href="/newEvent">Create a New Event</a>
            <a href="/newVenue">Create a New Venue</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}

{% endblock %}


<br>
{% block content %}
    <div>
    <h1>Aidan's favorite Music Database</h1>

<h1>Hi, {{ current_user.username }}!</h1>
{% for post in posts %}
<div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div> {% endfor %}


 <div class="container">
    {% for message in get_flashed_messages() %}
        {{ message }}
    </div>
    {%  endfor %}



{% block app_content %}
<div><h3>Music database</h3>
<p>Here are some of Aidan's favorite musicians/bands. The songs from these artists are fun, and often provides a theraputic listen for Aidan</p></div>

 </div>{% endblock %}
{% endblock %}
</body>
</html>
