
<{% extends "base.html" %}
 <p>
 {% block content %}
<form action="" method="post">
{{ form.hidden_tag() }}
            {{ form.artistName.label }}<br>
            {{ form.artistName(size=32) }}<br>
            {% for error in form.artistName.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
       {% endfor %}

            {{ form.hometown.label }}<br>
            {{ form.hometown(size=32) }}<br>
            {% for error in form.hometown.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
       {% endfor %}

            {{ form.artistDescription.label }}<br>
            {{ form.artistDescription(rows="20", cols="20") }}<br>
            {% for error in form.artistDescription.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
           {% endfor %}

{{ form.submit() }}



        </p>

     </form>
{%  endblock %}


</body>
</html>